:root {
    /*      Text      */
    /*  0^ = Lighter  */
    /*  0v = Darker   */
    --astr-tone2: #fabbcf;
    --astr-tone1: #f090b0;
    --astr-tone0: #f0719b;
    --astr-tone-1: #945066;

    /*  Background  */
    --astr-main: #211519;
    --astr-main1: #301f24;

    --astr-font: 'Sour Gummy';
}


body {
    background-color: var(--astr-main);
    color:  var(--astr-tone0);
    margin: 0;
    padding: 1vh;
    min-height: 100vh;
}

h1 {
    font-size: 4vh;
    text-align: center;
    style: normal;
    font-family: var(--astr-font), Times, serif;
}

pre {
    text-align: center;
    style: normal;
    font-size: 2vh;
    font-family: var(--astr-font), Times, serif;
}

hr {
    margin: 5vh;
    border: 0;
    height: 5px;
    background-color: var(--astr-tone-1);
    border-radius: 100vh;
}

p {
    background-color: var(--astr-main-1);
    color: var(--astr-tone-1);
    text-align: center;
    padding: 5vh;
    font-size: 1.5vh;
    margin-top: auto;
    font-family: var(--astr-font), Times, serif;
}

a {
    text-decoration: underline;
    color: var(--astr-tone-2);
    text-decoration-color: var(--astr-tone-2);
}

a:visited {
    text-decoration: underline;
    color: var(--astr-tone-2);
    text-decoration-color: var(--astr-tone-2);
}

/*  Scroolbar  */
::-webkit-scrollbar {
    margin: 1vh;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    margin: 1vh;
    background-color: var(--astr-main1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--astr-tone1);
    border-radius: 10px;
    border: 2px solid var(--astr-tone0);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--astr-tone0);
}
